<body>
    <div class="wrapper">
        <div class="text-info text-center mt-4">
            <h1>TOKONATSU</h1>
            <h4>トコナツ</h4>
            <i class="fas fa-fish"></i>
        </div>
        <div class="text-center mt-4">
            <p>ここから一番近い海は・・・？</p>
            <div class="input-group">
                <input id="address" type="textbox"　class="form-control" placeholder="現在地の住所/施設名">
                <span class="input-group-btn">
                    <button id="search" class="btn btn-info" onclick="codeAddress()"><i class="fas fa-search"></i></button>
                </span>
            </div>
        </div>
        <div id="information" class="mt-4 border border-info rounded  text-center">
            <h3 id="sea-title" class="bg-info text-white"></h3>
            <div class="container mt-4 mb-4">
                <div class="row">
                    <div class="col-lg-6">
                        <div id="map"></div>
                    </div>
                    <div class="sea-img col-lg-6">
                        <div id="sea-distance" class="sea-distance mt-2 mb-2"><i class="fas fa-map-signs"></i></div>
                        <div id="sea-img"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
</body>

<script>
let map
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}

let geocoder

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&callback=initMap" async defer></script>

