// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
	background-image: url(background_img.png);
	background-size: cover;
	background-position: bottom center;
	position: relative;
  	width: 100%;
  	min-height: 100vh;
}

.wrapper {
	width: 80%;
	max-width: 680px;
	margin-left: auto;
	margin-right: auto;
}

#map {
    width:80%;
    height:250px;
	margin-left: auto;
	margin-right: auto;
}

#sea-img {
    width:280px;
    height:210px;
}